<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT">[[#{layout.title}]]</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/all.css}">
<script th:src="@{/js/jquery-3.5.0.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
	<header> <h1>Mon en-tête</h1> </header>
	<div class="container-fluid">
		<section layout:fragment="monContenu"></section>
	</div>
</body>
</html>